@(addMessageForm: Form[models.Messages], error: String)
@import helper._

@main("Messages", null) {
    @if(flash().containsKey("success")) {
        <div class="successMsg">
            <div class="alert alert-success">
                <strong>@flash().get("success")</strong>
            </div>
        </div>
    }
    <div class="MsgContent">
        <div class="m-page scene_element scene_element--fadeinright">
            <div class="row">
                <div class="col-lg-5">
                    @if(error != null) {
                        <div class="alert alert-warning">
                            <strong>@error</strong>
                        </div>
                    }
                    @helper.form(action = controllers.routes.HomeController.messageSubmit(), 'class -> "form-horizontal", 'role -> "form") {
                        <label>Name:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" required autofocus/>
                        </div>
                        <label>Email:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" required autofocus/>
                        </div>
                        <label>Message:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="message" required autofocus/>
                        </div>

                        <div class="actions" id="margBottom">
                            <input type="submit" value="Send Message" class="btn btn-primary">
                        </div>
                    }
                    <div class="actions" id="margBottom">
                        <a href="@routes.HomeController.index()"> <button class="btn btn-warning" formnovalidate>
                            Cancel</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}