@(addUserForm: Form[models.users.User], error: String)

@main("Sign Up Page", null) {
    <div class="m-page scene_element scene_element--fadein">
        <h1 class="page-header" style="text-align: center">Sign Up</h1>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="panel panel-default credit-card-box">
                    <div class="panel-body">
                        @if(error != null) {
                            <div class="alert alert-warning">
                                <strong>@error</strong>
                            </div>
                        }
                        <form method="post" action="@controllers.routes.HomeController.addUserSubmit()" class="form-horizontal">
                            <label>Email:</label>
                            <input required type="email" class="form-control" placeholder="Enter your email">

                            <label>Name:</label>
                            <input required type="text" name="name" class="form-control" placeholder="Enter your name" />

                            <label>Role:</label>
                            <select required name="role" class="form-control">
                                <option>Admin</option>
                                <option>Customer</option>
                            </select>

                            <label>Password:</label>
                            <input required type="password" name="password" class="form-control" />

                            <label>Password Confirm:</label>
                            <input type="password" name="passwordConfirm" class="form-control" required/>
                            <div class="span7 text-center"style="padding-bottom: 30px;padding-top: 30px;">
                                <input type="submit" value="Sign Up" class="btn btn-lg btn-primary">
                                <a href="@routes.HomeController.index()"> <button class="btn btn-lg btn-warning">
                                    Cancel</button></a>
                            </div>
                        </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
}

    <!--Created by Evan-->